body {
    background-color: rgb(255, 244, 227);
}
#contenedor-grid {
    display: grid;
    grid-template-columns: 2.5fr 4fr 2.5fr;
    grid-template-rows: 8fr 10fr 8fr;
    gap: 10px;

} 
#card {
        background-color: rgb(149, 189, 202);
        grid-area: 2 / 2 / 3 / 3;
        display: grid;
        grid-template-columns: 0.15fr 1fr 1fr 2fr 0.15fr;
        grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr 3.5fr 0.05fr;
        gap: 10px;
        grid-template-areas: 
        ". . . . ."
        ". cFoto cDatosN cIDatosN ."
        ". cFoto cDatosA cIDatosA ."
        ". cFoto cDatosE cIDatosE ."
        ". cFoto cDatosS cIDatosS ."
        ". cBioT cBioT cBioT ."
        ". cBio cBio cBio ." 
        ". . . . .";
}

#foto {
    grid-area: cFoto;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}

#nombre {
    grid-area: cDatosN;
}

#apellido {
    grid-area: cDatosA;
}

#eMailC {
    grid-area: cDatosE;
}

#nSocio {
    grid-area: cDatosS;
}

#nombreV {
    grid-area: cIDatosN;
}

#apellidoV {
    grid-area: cIDatosA;
}

#eMailCV {
    grid-area: cIDatosE;
}

#nSocioV {
    grid-area: cIDatosS;
}

#bioTitulo {
    grid-area: cBioT;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

#biografia {
    grid-area: cBio;
    background-color: white;
    border: 1px solid white;
    border-radius: 40px;
    padding: 20px;
    padding-bottom: 1px;
}

.datos {
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: end;
}

.datosV {
    background-color: white;
    border: 1px solid white;
    border-radius: 1px;
}